In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("../input/train.csv")
test_df = pd.read_csv("../input/test.csv")
train_df.head()

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0

In [6]:
test_df.head()

     image_name  patient_id     sex  age_approx anatom_site_general_challenge
0  ISIC_0052060  IP_3579794    male        70.0                           NaN
1  ISIC_0052349  IP_7782715    male        40.0               lower extremity
2  ISIC_0058510  IP_7960270  female        55.0                         torso
3  ISIC_0073313  IP_6375035  female        50.0                         torso
4  ISIC_0073502  IP_0589375  female        45.0               lower extremity

In [7]:
train_fold_df = pd.read_csv("../input/train_folds.csv")
train_fold_df.head()

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target,kfold
0,ISIC_3882251,IP_8793264,female,65.0,torso,unknown,benign,0,4
1,ISIC_1486154,IP_0690987,male,50.0,torso,nevus,benign,0,4
2,ISIC_3788766,IP_2147407,female,35.0,lower extremity,unknown,benign,0,4
3,ISIC_5783397,IP_0656529,male,60.0,head/neck,unknown,benign,0,4
4,ISIC_9543945,IP_6096257,male,60.0,lower extremity,nevus,benign,0,4

In [ ]:
train_fold_df.columns